apiVersion: batch/v1
kind: Job
metadata:
  name: init-rds-database
spec:
  template:
    spec:
      containers:
      - name: init-database
        image: postgres:16.2
        command: ["sh", "-c", "psql -h ${DB_HOST} -U ${DB_USER} -d ${DB_NAME} -f /scripts/init_database.sql"]
        env:
        - name: DB_HOST
          valueFrom:
            configMapKeyRef:
              name: backend-config
              key: DB_HOST
        - name: DB_NAME
          valueFrom:
            configMapKeyRef:
              name: backend-config
              key: DB_NAME
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: DB_USER
        - name: PGPASSWORD
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: DB_PASSWORD
        volumeMounts:
        - name: init-scripts
          mountPath: /scripts
      volumes:
      - name: init-scripts
        configMap:
          name: backend-config
      restartPolicy: OnFailure
  backoffLimit: 3
